<mat-toolbar color="primary">
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>  -->
  <img src="../assets/Images/notepad.png" class="logo" [routerLink]="['/dashboard']">
  <span>&nbsp; Board</span>
  <span class="example-spacer"></span>
  <button mat-icon-button style="font-size:65px">
    <mat-icon color="accent" [inline]="true" style="font-size:45px" (click)="change()">edit_note</mat-icon>
  </button>&nbsp; &nbsp;
  <!-- <button mat-icon-button style="font-size:35px">
    <mat-icon color="accent">search</mat-icon>
  </button> -->
  <button mat-icon-button style="font-size:35px">
    <mat-icon [inline]="true" color="accent">account_circle</mat-icon>
  </button>
</mat-toolbar>
<div class="bdy">
  <router-outlet></router-outlet>
</div>
<mat-toolbar color="warn"  class="ftr">
    <img src="../assets/Images/notepad.png" class="logo" [routerLink]="['/dashboard']"><br>
    <p style="font-size: small;">Powered by Pinepple Inc</p>
</mat-toolbar>
