
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
$custom-palette:(
  50 : #003049,
    100 : #D62828,
    200 : #a8dadc,    
    contrast: (
        50 : #ffffff,
        100 : #ffffff,
        200 : #003049,        
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Board-primary: mat.define-palette($custom-palette,50);
$Board-accent: mat.define-palette($custom-palette, 200);

// The warn palette is optional (defaults to red).
$Board-warn: mat.define-palette($custom-palette, 100);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Board-theme: mat.define-light-theme((
  color: (
    primary: $Board-primary,
    accent: $Board-accent,
    warn: $Board-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Board-theme);

