/* You can add global styles to this file, and also import other style files */
:root{
    --primary:#003049,
    --accent:#D62828
    --warn:#a8dadc
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


